<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=windows-1252">
<TITLE>Doctor</TITLE>
</HEAD>
<BODY>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=32 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=620  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:20pt FACE="Times New Roman" COLOR=#000080>Doctor</FONT></B></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=132  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Name of the MD</FONT></B></I></TD>
<TD WIDTH=488  ALIGN=LEFT  BGCOLOR=#FFFFFF ><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Sarah Traskerson</FONT></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=132  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Address of MD</FONT></B></I></TD>
<TD WIDTH=488  ALIGN=LEFT  BGCOLOR=#FFFFFF ><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>32-34 45th street</FONT></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=52  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Date</FONT></B></I></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Name of Patient</FONT></B></I></TD>
<TD WIDTH=64  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>CPT</FONT></B></I></TD>
<TD WIDTH=116  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Description</FONT></B></I></TD>
<TD WIDTH=192  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Price</FONT></B></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=14 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=52  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>10/9/07</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Maria Koulouri</FONT></TD>
<TD WIDTH=64  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>P4567</FONT></TD>
<TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Heart Problem</FONT></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>9.65</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=14 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=52  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>9/24/07</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Alexander Tsoukias</FONT></TD>
<TD WIDTH=64  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>TRE38</FONT></TD>
<TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Stomach Problem</FONT></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>9.65</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=17 >
<TD WIDTH=392  ALIGN=LEFT > <BR></TD><TD WIDTH=44  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Times New Roman" COLOR=#000000>Sum</FONT></B></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><I><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>19.3</FONT></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=132  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Name of the MD</FONT></B></I></TD>
<TD WIDTH=488  ALIGN=LEFT  BGCOLOR=#FFFFFF ><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Dionisys Pandis</FONT></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=132  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Address of MD</FONT></B></I></TD>
<TD WIDTH=488  ALIGN=LEFT  BGCOLOR=#FFFFFF ><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>845-23 24th street</FONT></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=52  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Date</FONT></B></I></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Name of Patient</FONT></B></I></TD>
<TD WIDTH=64  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>CPT</FONT></B></I></TD>
<TD WIDTH=116  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Description</FONT></B></I></TD>
<TD WIDTH=192  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Price</FONT></B></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=14 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=52  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>3/4/07</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Maria Koulouri</FONT></TD>
<TD WIDTH=64  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>11111</FONT></TD>
<TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Body Problems and </FONT></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>2.37</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=12 >
<TD WIDTH=316  ALIGN=LEFT > <BR></TD><TD WIDTH=308  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>stomach</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=14 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=52  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>2/26/07</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Maria Koulouri</FONT></TD>
<TD WIDTH=64  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>TRE38</FONT></TD>
<TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Stomach Problem</FONT></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>9.65</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=14 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=52  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>2/14/07</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Maria Koulouri</FONT></TD>
<TD WIDTH=64  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>22222</FONT></TD>
<TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Eyes, noses, and </FONT></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>4.8</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=12 >
<TD WIDTH=316  ALIGN=LEFT > <BR></TD><TD WIDTH=308  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Headache</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=14 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=52  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>5/4/07</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Maria Koulouri</FONT></TD>
<TD WIDTH=64  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>R4859</FONT></TD>
<TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Diebetics Problem</FONT></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>4.45</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=17 >
<TD WIDTH=392  ALIGN=LEFT > <BR></TD><TD WIDTH=44  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Times New Roman" COLOR=#000000>Sum</FONT></B></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><I><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>21.27</FONT></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=132  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Name of the MD</FONT></B></I></TD>
<TD WIDTH=488  ALIGN=LEFT  BGCOLOR=#FFFFFF ><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Lisa Treeman</FONT></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=132  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Address of MD</FONT></B></I></TD>
<TD WIDTH=488  ALIGN=LEFT  BGCOLOR=#FFFFFF ><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>857 456th street</FONT></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=52  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Date</FONT></B></I></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Name of Patient</FONT></B></I></TD>
<TD WIDTH=64  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>CPT</FONT></B></I></TD>
<TD WIDTH=116  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Description</FONT></B></I></TD>
<TD WIDTH=192  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Price</FONT></B></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=14 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=52  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>7/19/07</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Maria Koulouri</FONT></TD>
<TD WIDTH=64  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>MT483</FONT></TD>
<TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Diebetics Problem</FONT></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>2.05</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=14 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=52  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>6/24/07</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Alexander Tsoukias</FONT></TD>
<TD WIDTH=64  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>22222</FONT></TD>
<TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Eyes, noses, and </FONT></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>4.8</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=12 >
<TD WIDTH=316  ALIGN=LEFT > <BR></TD><TD WIDTH=308  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Headache</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=14 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=52  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>12/30/07</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Eirini Koulouri</FONT></TD>
<TD WIDTH=64  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>22222</FONT></TD>
<TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Eyes, noses, and </FONT></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>4.8</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=12 >
<TD WIDTH=316  ALIGN=LEFT > <BR></TD><TD WIDTH=308  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Headache</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=17 >
<TD WIDTH=392  ALIGN=LEFT > <BR></TD><TD WIDTH=44  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Times New Roman" COLOR=#000000>Sum</FONT></B></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><I><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>11.65</FONT></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=132  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Name of the MD</FONT></B></I></TD>
<TD WIDTH=488  ALIGN=LEFT  BGCOLOR=#FFFFFF ><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>John Smith</FONT></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=132  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Address of MD</FONT></B></I></TD>
<TD WIDTH=488  ALIGN=LEFT  BGCOLOR=#FFFFFF ><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>32-34 45th street</FONT></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=52  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Date</FONT></B></I></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Name of Patient</FONT></B></I></TD>
<TD WIDTH=64  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>CPT</FONT></B></I></TD>
<TD WIDTH=116  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Description</FONT></B></I></TD>
<TD WIDTH=192  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Price</FONT></B></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=14 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=52  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>2/2/07</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Stefania Koulouri</FONT></TD>
<TD WIDTH=64  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>P4567</FONT></TD>
<TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Heart Problem</FONT></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>9.65</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=14 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=52  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>12/30/07</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Eirini Koulouri</FONT></TD>
<TD WIDTH=64  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>11111</FONT></TD>
<TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Body Problems and </FONT></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>2.37</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=12 >
<TD WIDTH=316  ALIGN=LEFT > <BR></TD><TD WIDTH=308  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>stomach</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=15 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=312  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:9pt FACE="Times New Roman" COLOR=#000080>Monday, August 2, 2021</FONT></B></I></TD>
<TD WIDTH=304  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:9pt FACE="Times New Roman" COLOR=#000080>Page 1 of 2</FONT></B></I></TD>
</TR>
</TABLE>

<A HREF="#">First</A> <A HREF="#">Previous</A> <A HREF="DoctorRPPage2.html">Next</A> <A HREF="DoctorRPPage2.html">Last</A></BODY>
</HTML>