<!DOCTYPE html>
<html lang="en">

<h1>
Insurance <br>
<br>

</h1>

<form method="POST" action="">
  INS_Code: <input type="text" name="INS_Code" /> <br><br>
  Name: <input type="text" name="Name" /> <br><br>
  Address: <input type="text" name="Address" /> <br><br>
  City: <input type="text" name="City" /> <br><br>
  State: <input type="text" name="State" /> <br><br>
  Zip: <input type="text" name="Zip" /> <br><br>
  <input type="submit" name="submit_button" value="Add">
  <input type="submit" name="submit_button" value="Delete">
  <input type="submit" name="submit_button" value="Query">
  <input type="submit" name="submit_button" value="Report">
  <input type="submit" name="submit_button" value="Exit">
  
 </form>
 <div>
<button onClick="window.print()">Print
</button></div>


</html>
<!-- end document-->