<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=windows-1252">
<TITLE>Insurance</TITLE>
</HEAD>
<BODY>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=132  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Name of Patient</FONT></B></I></TD>
<TD WIDTH=488  ALIGN=LEFT  BGCOLOR=#FFFFFF ><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Maria Koulouri</FONT></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=52  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Date</FONT></B></I></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Name of MD</FONT></B></I></TD>
<TD WIDTH=64  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>CPT</FONT></B></I></TD>
<TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Description</FONT></B></I></TD>
<TD WIDTH=188  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Price</FONT></B></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=14 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=52  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>10/9/07</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Sarah Traskerson</FONT></TD>
<TD WIDTH=64  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>P4567</FONT></TD>
<TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Heart Problem</FONT></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>9.65</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=14 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=52  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>7/19/07</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Lisa Treeman</FONT></TD>
<TD WIDTH=64  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>MT483</FONT></TD>
<TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Diebetics Problem</FONT></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>2.05</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=14 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=52  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>12/4/07</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>John Smith</FONT></TD>
<TD WIDTH=64  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>TRE38</FONT></TD>
<TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Stomach Problem</FONT></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>9.65</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=388  ALIGN=LEFT > <BR></TD><TD WIDTH=48  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Times New Roman" COLOR=#000000>Sum</FONT></B></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><I><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>21.35</FONT></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=14 >
<TD WIDTH=436  ALIGN=LEFT > <BR></TD><TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><I><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>21.35</FONT></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=21 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=172  ALIGN=LEFT  BGCOLOR=#C0C0C0 ><B><FONT style=FONT-SIZE:12pt FACE="Tahoma" COLOR=#000000>Insurance Name</FONT></B></TD>
<TD WIDTH=448  ALIGN=LEFT  BGCOLOR=#C0C0C0 ><B><FONT style=FONT-SIZE:12pt FACE="Times New Roman" COLOR=#000000>SelectHealth</FONT></B></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=21 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=172  ALIGN=LEFT  BGCOLOR=#C0C0C0 ><B><FONT style=FONT-SIZE:12pt FACE="Tahoma" COLOR=#000000>Insurance Address</FONT></B></TD>
<TD WIDTH=448  ALIGN=LEFT  BGCOLOR=#C0C0C0 ><B><FONT style=FONT-SIZE:12pt FACE="Times New Roman" COLOR=#000000>354 47West</FONT></B></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=132  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Name of Patient</FONT></B></I></TD>
<TD WIDTH=488  ALIGN=LEFT  BGCOLOR=#FFFFFF ><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Alexander Tsoukias</FONT></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=52  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Date</FONT></B></I></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Name of MD</FONT></B></I></TD>
<TD WIDTH=64  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>CPT</FONT></B></I></TD>
<TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Description</FONT></B></I></TD>
<TD WIDTH=188  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Price</FONT></B></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=14 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=52  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>9/24/07</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Sarah Traskerson</FONT></TD>
<TD WIDTH=64  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>TRE38</FONT></TD>
<TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Stomach Problem</FONT></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>9.65</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=14 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=52  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>6/24/07</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Lisa Treeman</FONT></TD>
<TD WIDTH=64  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>22222</FONT></TD>
<TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Eyes, noses, and </FONT></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>4.8</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=12 >
<TD WIDTH=316  ALIGN=LEFT > <BR></TD><TD WIDTH=308  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Headache</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=14 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=52  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>3/17/07</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>John Smith</FONT></TD>
<TD WIDTH=64  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>L3245</FONT></TD>
<TD WIDTH=120  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Heart Problem</FONT></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>5.65</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=388  ALIGN=LEFT > <BR></TD><TD WIDTH=48  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Times New Roman" COLOR=#000000>Sum</FONT></B></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><I><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>20.1</FONT></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=14 >
<TD WIDTH=436  ALIGN=LEFT > <BR></TD><TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><I><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>20.1</FONT></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=17 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=432  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:10pt FACE="Times New Roman" COLOR=#000000>Grand </FONT></B></I></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><I><FONT style=FONT-SIZE:10pt FACE="Times New Roman" COLOR=#000000>79.54</FONT></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=15 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=312  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:9pt FACE="Times New Roman" COLOR=#000080>Monday, August 2, 2021</FONT></B></I></TD>
<TD WIDTH=304  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:9pt FACE="Times New Roman" COLOR=#000080>Page 2 of 2</FONT></B></I></TD>
</TR>
</TABLE>

<A HREF="InsuranceRP.html">First</A> <A HREF="InsuranceRP.html">Previous</A> <A HREF="#">Next</A> <A HREF="#">Last</A></BODY>
</HTML>