<!DOCTYPE html>
<html lang="en">

<h1>
Medical Procedure <br>
<br>

</h1>

<form method="POST" action="">
  MP_Code: <input type="text" name="MP_Code" /> <br>
  Description: <input type="text" name="Description" /> <br>
  Price: <input type="text" name="Price" /> <br>
  <input type="submit" name="submit_button" value="Add">
  <input type="submit" name="submit_button" value="Delete">
  <input type="submit" name="submit_button" value="Query">
  <input type="submit" name="submit_button" value="Exit">
 </form>
<div>
<button onClick="window.print()">Print
</button></div>

</html>
<!-- end document-->