<!DOCTYPE html>
<html lang="en">

<h1>
Patients <br>
<br>

</h1>

<form method="POST" action="">
  <label for="P_Code">P_Code:</label>
  <input type="text" id="P_Code" name="P_Code"><br><br>
  <label for="P_Name">P_Name:</label>
  <input type="text" id="P_Name" name="P_Name"><br><br>
  <label for="INS_Code">INS_Code:</label>
  <input type="text" id="INS_Code" name="INS_Code"><br><br>
  <label for="P_Address">P_Address:</label>
  <input type="text" id="P_Address" name="P_Address"><br><br>
  <label for="P_Address2">P_Address2:</label>
  <input type="text" id="P_Address2" name="P_Address2"><br><br>
  <label for="P_City">P_City:</label>
  <input type="text" id="P_City" name="P_City"><br><br>
  <label for="P_State">P_State:</label>
  <input type="text" id="P_State" name="P_State"><br><br>
  <label for="P_Zip">P_Zip:</label>
  <input type="text" id="P_Zip" name="P_Zip"><br><br>
  <input type="submit" name="submit_button" value="Add">
  <input type="submit" name="submit_button" value="Delete">
  <input type="submit" name="submit_button" value="Query">
  <input type="submit" name="submit_button" value="Report">
  <input type="submit" name="submit_button" value="Exit">
  
 </form>
 <div>
<button onClick="window.print()">Print
</button></div>

</html>
<!-- end document-->