<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html;charset=windows-1252">
<TITLE>treatment</TITLE>
</HEAD>
<BODY>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=21 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=132  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:12pt FACE="Tahoma" COLOR=#000000>Description</FONT></B></I></TD>
<TD WIDTH=488  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:12pt FACE="Times New Roman" COLOR=#000000>Heart Problem</FONT></B></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=60  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Date</FONT></B></I></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=140  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Name of Patient</FONT></B></I></TD>
<TD WIDTH=140  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Name of MD</FONT></B></I></TD>
<TD WIDTH=204  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Price</FONT></B></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=14 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=60  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>2/2/07</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=140  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Stefania Koulouri</FONT></TD>
<TD WIDTH=140  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>John Smith</FONT></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>9.65</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=14 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=60  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>10/9/07</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=140  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Maria Koulouri</FONT></TD>
<TD WIDTH=140  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Sarah Traskerson</FONT></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>9.65</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=376  ALIGN=LEFT > <BR></TD><TD WIDTH=44  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Times New Roman" COLOR=#000000>Sum</FONT></B></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><I><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>19.3</FONT></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=21 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=172  ALIGN=LEFT  BGCOLOR=#C0C0C0 ><B><FONT style=FONT-SIZE:12pt FACE="Tahoma" COLOR=#000000>CPT Code</FONT></B></TD>
<TD WIDTH=448  ALIGN=LEFT  BGCOLOR=#C0C0C0 ><B><FONT style=FONT-SIZE:12pt FACE="Times New Roman" COLOR=#000000>R4859</FONT></B></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=21 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=132  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:12pt FACE="Tahoma" COLOR=#000000>Description</FONT></B></I></TD>
<TD WIDTH=488  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:12pt FACE="Times New Roman" COLOR=#000000>Diebetics Problem</FONT></B></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=60  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Date</FONT></B></I></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=140  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Name of Patient</FONT></B></I></TD>
<TD WIDTH=140  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Name of MD</FONT></B></I></TD>
<TD WIDTH=204  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Price</FONT></B></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=14 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=60  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>5/4/07</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=140  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Maria Koulouri</FONT></TD>
<TD WIDTH=140  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Dionisys Pandis</FONT></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>4.45</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=376  ALIGN=LEFT > <BR></TD><TD WIDTH=44  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Times New Roman" COLOR=#000000>Sum</FONT></B></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><I><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>4.45</FONT></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=21 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=172  ALIGN=LEFT  BGCOLOR=#C0C0C0 ><B><FONT style=FONT-SIZE:12pt FACE="Tahoma" COLOR=#000000>CPT Code</FONT></B></TD>
<TD WIDTH=448  ALIGN=LEFT  BGCOLOR=#C0C0C0 ><B><FONT style=FONT-SIZE:12pt FACE="Times New Roman" COLOR=#000000>TRE38</FONT></B></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=21 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=132  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:12pt FACE="Tahoma" COLOR=#000000>Description</FONT></B></I></TD>
<TD WIDTH=488  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:12pt FACE="Times New Roman" COLOR=#000000>Stomach Problem</FONT></B></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=60  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Date</FONT></B></I></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=140  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Name of Patient</FONT></B></I></TD>
<TD WIDTH=140  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Name of MD</FONT></B></I></TD>
<TD WIDTH=204  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:11pt FACE="Times New Roman" COLOR=#000080>Price</FONT></B></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=14 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=60  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>12/4/07</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=140  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Maria Koulouri</FONT></TD>
<TD WIDTH=140  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>John Smith</FONT></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>9.65</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=14 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=60  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>2/26/07</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=140  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Maria Koulouri</FONT></TD>
<TD WIDTH=140  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Dionisys Pandis</FONT></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>9.65</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=14 >
<TD WIDTH=76  ALIGN=LEFT > <BR></TD><TD WIDTH=60  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>9/24/07</FONT></TD>
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=140  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Alexander Tsoukias</FONT></TD>
<TD WIDTH=140  ALIGN=LEFT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>Sarah Traskerson</FONT></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>9.65</FONT></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=18 >
<TD WIDTH=376  ALIGN=LEFT > <BR></TD><TD WIDTH=44  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><FONT style=FONT-SIZE:10pt FACE="Times New Roman" COLOR=#000000>Sum</FONT></B></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><I><FONT style=FONT-SIZE:8pt FACE="Arial" COLOR=#000000>28.95</FONT></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=17 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=416  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:10pt FACE="Times New Roman" COLOR=#000000>Grand </FONT></B></I></TD>
<TD WIDTH=154  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><I><FONT style=FONT-SIZE:10pt FACE="Times New Roman" COLOR=#000000>79.54</FONT></I></TD>
</TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 >
<TR HEIGHT=15 >
<TD WIDTH=4  ALIGN=LEFT > <BR></TD><TD WIDTH=312  ALIGN=LEFT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:9pt FACE="Times New Roman" COLOR=#000080>Monday, August 2, 2021</FONT></B></I></TD>
<TD WIDTH=304  ALIGN=RIGHT  BGCOLOR=#FFFFFF ><B><I><FONT style=FONT-SIZE:9pt FACE="Times New Roman" COLOR=#000080>Page 2 of 2</FONT></B></I></TD>
</TR>
</TABLE>

<A HREF="treatmentRP.html">First</A> <A HREF="treatmentRP.html">Previous</A> <A HREF="#">Next</A> <A HREF="#">Last</A></BODY>
</HTML>